@charset "UTF-8";
html, body, .container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative; }

._radiu_16px {
  border-radius: 0.2133333333rem; }

._radiu_45px {
  border-radius: 0.6rem; }

.clear {
  *zoom: 1; }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

#stream {
  width: 10rem;
  height: 22.5733333333rem;
  color: #fff;
  position: relative;
  background: url("../image/bannerBg.png") no-repeat center;
  background-size: 10rem 22.5733333333rem;
  /* input placeholder文字颜色 */ }
  #stream input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(255, 243, 193, 0.6); }
  #stream input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 243, 193, 0.6); }
  #stream input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 243, 193, 0.6); }
  #stream input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(255, 243, 193, 0.6); }
  #stream .con {
    width: 100%;
    position: absolute;
    top: 9.0133333333rem; }
    #stream .con #rollshowbox {
      width: 9.2rem;
      height: 2.9866666667rem;
      background-color: #ff9568;
      margin: 0 auto;
      overflow: hidden; }
      #stream .con #rollshowbox #rollshow {
        overflow: hidden;
        padding-left: 0.64rem;
        padding-top: 0.16rem;
        position: relative; }
        #stream .con #rollshowbox #rollshow ul li {
          padding: 0.2266666667rem 0;
          font-size: 14px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          height: 0.48rem; }
          [data-dpr="2"] #stream .con #rollshowbox #rollshow ul li {
            font-size: 28px; }
          [data-dpr="3"] #stream .con #rollshowbox #rollshow ul li {
            font-size: 42px; }
      #stream .con #rollshowbox .rollline {
        width: 0.1333333333rem;
        height: 1.96rem;
        position: absolute;
        left: 0.64rem;
        top: 0.56rem; }
    #stream .con .input-form {
      padding-top: 0.6666666667rem; }
      #stream .con .input-form input {
        display: block;
        width: 9.2rem;
        margin: 0 auto;
        margin-bottom: 0.5333333333rem;
        padding: 0.4533333333rem 0 0.4533333333rem 1.3333333333rem;
        color: #fff3c1;
        font-size: 15px;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid #fff3c1; }
        [data-dpr="2"] #stream .con .input-form input {
          font-size: 30px; }
        [data-dpr="3"] #stream .con .input-form input {
          font-size: 45px; }
      #stream .con .input-form .btn {
        width: 9.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        background: #fff3c1;
        text-align: center;
        margin: 0 auto;
        color: #ff6457;
        font-size: 18px; }
        [data-dpr="2"] #stream .con .input-form .btn {
          font-size: 36px; }
        [data-dpr="3"] #stream .con .input-form .btn {
          font-size: 54px; }
      #stream .con .input-form .user-input {
        position: relative; }
        #stream .con .input-form .user-input .iconUser {
          position: absolute;
          left: 0.8666666667rem;
          top: 0.28rem;
          background: url("../image/iconUser.png") no-repeat center;
          background-size: 0.6rem 0.5733333333rem;
          width: 0.64rem;
          height: 0.6rem; }
      #stream .con .input-form .code-input {
        width: 9.2rem;
        margin: 0 auto;
        overflow: hidden;
        position: relative; }
        #stream .con .input-form .code-input .iconMsg {
          position: absolute;
          left: 0.5333333333rem;
          top: 0.28rem;
          background: url("../image/iconMsg.png") no-repeat center;
          background-size: 0.4666666667rem 0.6rem;
          width: 0.4666666667rem;
          height: 0.6933333333rem; }
        #stream .con .input-form .code-input ._input_sp {
          width: 5.3333333333rem;
          float: left; }
        #stream .con .input-form .code-input .get_code {
          width: 2.5333333333rem;
          float: right;
          font-size: 15px;
          color: #ff6457; }
          [data-dpr="2"] #stream .con .input-form .code-input .get_code {
            font-size: 30px; }
          [data-dpr="3"] #stream .con .input-form .code-input .get_code {
            font-size: 45px; }
      #stream .con .input-form .pwd-input {
        position: relative; }
        #stream .con .input-form .pwd-input .iconPwd {
          position: absolute;
          left: 0.8666666667rem;
          top: 0.28rem;
          background: url("../image/iconPwd.png") no-repeat center;
          background-size: 0.6rem 0.6rem;
          width: 0.64rem;
          height: 0.64rem; }
      #stream .con .input-form .submit {
        margin: 0.4666666667rem auto 0.32rem auto; }
      #stream .con .input-form .checktext {
        width: 9.2rem;
        margin: 0 auto;
        margin-bottom: 1.0666666667rem;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        line-height: 0.4266666667rem; }
        [data-dpr="2"] #stream .con .input-form .checktext {
          font-size: 24px; }
        [data-dpr="3"] #stream .con .input-form .checktext {
          font-size: 36px; }
        #stream .con .input-form .checktext .ture {
          display: inline-block;
          padding-right: 0.16rem;
          padding-bottom: 0.0533333333rem;
          width: 0.4rem;
          height: 0.4rem;
          vertical-align: middle; }
        #stream .con .input-form .checktext .agreement {
          color: #fff3c1; }
    #stream .con .p_footer {
      padding-bottom: 0.5333333333rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: 11px; }
      [data-dpr="2"] #stream .con .p_footer {
        font-size: 22px; }
      [data-dpr="3"] #stream .con .p_footer {
        font-size: 33px; }

/*# sourceMappingURL=stream.css.map */
