html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
In fact, it *will* cause problems with Google Maps' controls at small size.
If this is the case for you, try uncommenting the following:
#map img {
max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
you'll have to restore the bullets within content,
which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

* {
  font-family: Helvetica, "Microsoft YaHei"; }

/****************************************************************************************************/
input:focus {
  outline: none; }

.common-button {
  width: 9.2rem;
  height: 1.2266666667rem;
  line-height: 1.2266666667rem;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #fff;
  background: #61cae4;
  border: none;
  border-radius: 0.6133333333rem;
  margin: 0 auto;
  display: block;
  text-decoration: none; }

.disabled-button {
  background: #d9d9d9; }

.fixed-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  display: block;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #61cae4; }

.common-list {
  background: #fff; }
  .common-list li {
    height: 1.4666666667rem;
    line-height: 1.4666666667rem;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0.4rem;
    font-size: 0.4266666667rem;
    color: #333; }
    .common-list li label, .common-list li span {
      display: block;
      float: left; }
    .common-list li label {
      padding-right: 0.4rem; }
    .common-list li span {
      font-size: 0.3466666667rem;
      color: #999; }
      .common-list li span i {
        color: #333;
        vertical-align: top;
        font-style: normal;
        font-size: 0.7333333333rem; }

#bank-verify-note {
  font-size: 0.3466666667rem;
  color: #2ebd59;
  padding: 0 0 0 0.4666666667rem;
  height: 0.4533333333rem;
  width: 3.7333333333rem;
  margin: 1.0666666667rem auto;
  text-align: center;
  bottom: 0.6666666667rem;
  vertical-align: middle;
  background: url(../img/img-5.png) 0 50% no-repeat;
  background-size: 0.3733333333rem 0.4533333333rem; }

/****************************************************************************************************/
.repayment-detail.wrap {
  background: #f2f2f2;
  padding-bottom: 1.7333333333rem; }
  .repayment-detail.wrap .head {
    height: 0.8rem;
    line-height: 0.8rem;
    padding-left: 0.4rem; }
    .repayment-detail.wrap .head h3 {
      font-size: 0.32rem;
      color: #999; }
  .repayment-detail.wrap .content {
    background: #fff;
    padding: 0.5333333333rem 0.4rem; }
    .repayment-detail.wrap .content ul > li {
      color: #999;
      position: relative;
      padding-left: 0.8rem;
      margin-bottom: 0.8rem;
      background: url(../img/icon_02.png) 0 0.1066666667rem no-repeat;
      background-size: 0.4666666667rem 0.4666666667rem; }
      .repayment-detail.wrap .content ul > li:last-child {
        margin-bottom: 0; }
        .repayment-detail.wrap .content ul > li:last-child:after {
          display: none; }
      .repayment-detail.wrap .content ul > li:first-child:before {
        display: none; }
      .repayment-detail.wrap .content ul > li:before {
        content: '';
        display: block;
        width: 0.0533333333rem;
        height: 0.7733333333rem;
        background: #dddddd;
        position: absolute;
        top: -0.6666666667rem;
        left: 0.2rem; }
      .repayment-detail.wrap .content ul > li:after {
        content: '';
        display: block;
        width: 0.0533333333rem;
        height: 0.8rem;
        background: #ddd;
        position: absolute;
        top: 0.56rem;
        left: 0.2rem; }
      .repayment-detail.wrap .content ul > li h1 {
        font-size: 0.4266666667rem; }
        .repayment-detail.wrap .content ul > li h1 span, .repayment-detail.wrap .content ul > li h1 i {
          padding-left: 0.2666666667rem; }
        .repayment-detail.wrap .content ul > li h1 i {
          font-style: normal; }
      .repayment-detail.wrap .content ul > li p, .repayment-detail.wrap .content ul > li span {
        font-size: 0.3466666667rem; }
    .repayment-detail.wrap .content ul > li.do:first-child {
      background-image: url(../img/icon_01.png); }
      .repayment-detail.wrap .content ul > li.do:first-child:after {
        background: #61cae4; }
      .repayment-detail.wrap .content ul > li.do:first-child h1 {
        color: #000; }
        .repayment-detail.wrap .content ul > li.do:first-child h1 span {
          color: #333; }
      .repayment-detail.wrap .content ul > li.do:first-child p {
        color: #333; }
    .repayment-detail.wrap .content ul > li.die:first-child {
      background-image: url(../img/icon_03.png); }
      .repayment-detail.wrap .content ul > li.die:first-child:after {
        background: #ff8003; }
      .repayment-detail.wrap .content ul > li.die:first-child h1 {
        color: #000; }
        .repayment-detail.wrap .content ul > li.die:first-child h1 span {
          color: #333; }
      .repayment-detail.wrap .content ul > li.die:first-child p {
        color: #333; }
  .repayment-detail.wrap .item {
    padding: 0.5333333333rem 0.4rem;
    margin: 0.2666666667rem 0;
    background: #fff;
    font-size: 0.4266666667rem; }
    .repayment-detail.wrap .item ul > li {
      line-height: 1.6em; }
    .repayment-detail.wrap .item span {
      display: inline-block;
      color: #333;
      min-width: 1.8666666667rem; }
    .repayment-detail.wrap .item i {
      display: inline-block;
      font-style: normal;
      color: #666;
      padding-left: 0.2666666667rem; }
  .repayment-detail.wrap .button {
    position: fixed;
    width: 100%;
    bottom: 0.4rem;
    left: 0; }
    .repayment-detail.wrap .button a {
      line-height: 1.1733333333rem;
      height: 1.1733333333rem;
      display: block;
      float: left;
      width: 4.6rem;
      margin-left: 0.2666666667rem;
      font-size: 0.48rem;
      color: #fff;
      text-align: center;
      text-decoration: none;
      background: #61cae4;
      border-radius: 0.2666666667rem; }

.choose .head {
  height: 0.8rem;
  line-height: 0.8rem;
  padding-left: 0.4rem;
  background: #f2f2f2; }
  .choose .head h3 {
    font-size: 0.32rem;
    color: #999; }

.choose ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0.4rem 0 1.4666666667rem;
  background: url(../img/icon_04.png) 0.5066666667rem 50% no-repeat;
  background-size: 0.68rem 0.68rem;
  line-height: 1.4666666667rem; }
  .choose ul li:nth-child(2) {
    background-image: url(../img/icon_05.png); }
  .choose ul li:nth-child(3) {
    background-image: url(../img/icon_06.png); }
  .choose ul li a {
    display: block;
    position: relative;
    text-decoration: none; }
    .choose ul li a:after {
      content: '';
      display: block;
      clear: both; }
  .choose ul li h2 {
    font-size: 0.4266666667rem;
    float: left;
    color: #333; }
  .choose ul li span {
    display: block;
    float: right;
    font-size: 0.3466666667rem;
    color: #999;
    padding-right: 0.3466666667rem; }
  .choose ul li i {
    display: block;
    width: 0.2666666667rem;
    height: 0.2666666667rem;
    background: #fff;
    border-color: #999;
    border-width: 0 0 1px 1px;
    border-style: solid;
    transform: rotateZ(-135deg);
    -webkit-transform: rotateZ(-135deg);
    position: absolute;
    right: 0.0666666667rem;
    top: 0.6rem; }

.choose p {
  font-size: 0.3466666667rem;
  padding: 0.2666666667rem 0.4rem 0;
  color: #999; }

.popup .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0; }
  .popup .overlay .tips-msg {
    color: #fff;
    font-size: 0.3466666667rem;
    width: 5.3333333333rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 1.3333333333rem 0 0 -2.6666666667rem; }

.popup .spin {
  position: fixed;
  left: 50%;
  top: 50%;
  color: #fff;
  float: left;
  width: 2.9333333333rem;
  height: 2.9333333333rem;
  margin-left: -1.4666666667rem;
  margin-top: -1.4666666667rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transform: translate3d(0, 0, 0); }

.popup .dialog {
  -webkit-transform: translate3d(0, 0, 0);
  background: #f2f2f2;
  width: 8.4666666667rem;
  height: 6.16rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -3.08rem -4.2333333333rem;
  padding: 0.4rem 0;
  line-height: 3em;
  text-align: center;
  border-radius: 0.08rem; }
  .popup .dialog input {
    position: absolute;
    top: -26.6666666667rem; }
  .popup .dialog span.close {
    display: inline-block;
    position: absolute;
    right: 0.2666666667rem;
    top: 0.5333333333rem;
    width: 0.6666666667rem;
    height: 0.6666666667rem;
    cursor: pointer; }
    .popup .dialog span.close:before, .popup .dialog span.close:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #666; }
    .popup .dialog span.close:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .popup .dialog span.close:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .popup .dialog h1 {
    font-size: 0.6666666667rem;
    color: #333;
    padding-bottom: 0.2666666667rem; }
  .popup .dialog h2 {
    font-size: 0.48rem; }
  .popup .dialog p {
    border-radius: 0.1333333333rem;
    padding: 0 0.5333333333rem; }
    .popup .dialog p i {
      display: block;
      float: left;
      width: 1.2266666667rem;
      height: 1.28rem;
      background: #fff;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      position: relative; }
      .popup .dialog p i:first-child {
        border-left: 1px solid #e6e6e6;
        border-top-left-radius: 0.1333333333rem;
        border-bottom-left-radius: 0.1333333333rem; }
      .popup .dialog p i:last-child {
        border-top-right-radius: 0.1333333333rem;
        border-bottom-right-radius: 0.1333333333rem; }
    .popup .dialog p i.point:after {
      content: '';
      background: #333;
      display: block;
      width: 0.2666666667rem;
      height: 0.2666666667rem;
      border-radius: 0.1333333333rem;
      position: absolute;
      top: 0.5066666667rem;
      left: 0.4666666667rem; }
  .popup .dialog .error-tips {
    font-size: 0.3733333333rem;
    line-height: 1em;
    padding-top: 0.2666666667rem;
    color: #ff8003; }
  .popup .dialog a {
    font-size: 0.3466666667rem;
    color: #61cae4;
    text-decoration: none;
    display: block;
    width: 100%; }

.popup .pay {
  height: 5.2rem;
  margin-top: -2.6rem; }
  .popup .pay h2 {
    border-bottom: 1px solid #e6e6e6;
    line-height: 2em;
    margin-bottom: 0.5333333333rem; }

.popup .error {
  -webkit-transform: translate3d(0, 0, 0);
  background: #f2f2f2;
  width: 8.4666666667rem;
  height: 5.3333333333rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-radius: 0.08rem;
  padding-top: 1rem; }
  .popup .error img {
    display: block;
    width: 1rem;
    height: 1.0266666667rem;
    margin: 0 auto 0.4666666667rem; }
  .popup .error h2 {
    font-size: 0.4266666667rem;
    color: #333;
    height: 1.6rem;
    padding: 0 0.4rem; }
  .popup .error p {
    border-top: 1px solid #e6e6e6;
    line-height: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .popup .error p a {
      display: inline-block;
      width: 49%;
      text-decoration: none;
      font-size: 0.4266666667rem;
      color: #61cae4; }
      .popup .error p a:nth-child(2) {
        border-left: 1px solid #e6e6e6; }

.popup .alert {
  height: 4rem; }

.pay-result .head {
  height: 0.2666666667rem;
  background: #f2f2f2; }

.pay-result p {
  padding: 0 0.4rem;
  line-height: 4em;
  font-size: 0.3466666667rem;
  color: #666; }
  .pay-result p i {
    font-size: 0.3466666667rem;
    font-style: normal;
    color: #ff8003; }

.pay-result h1 {
  padding: 0 0.4rem;
  font-size: 0.4266666667rem;
  color: #333;
  line-height: 1.6em; }

.pay-result a.button {
  display: block;
  margin: 6.6666666667rem 0.4rem 0;
  border: 1px solid #61cae4;
  border-radius: 0.6666666667rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.48rem;
  color: #61cae4; }

.phone-verify {
  background: #f2f2f2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .phone-verify ul {
    margin-top: 0.2666666667rem; }
    .phone-verify ul li {
      height: 1.4666666667rem;
      line-height: 1.4666666667rem;
      background: #fff;
      padding: 0 0.4rem;
      border-bottom: 1px solid #f2f2f2;
      font-size: 0.3466666667rem; }
      .phone-verify ul li.tel {
        font-size: 0.4266666667rem;
        color: #666; }
      .phone-verify ul li input {
        color: #999;
        border: none;
        height: 1.2rem;
        width: 100%; }
        .phone-verify ul li input.verify {
          width: 6.9333333333rem; }
      .phone-verify ul li a {
        display: inline-block;
        text-decoration: none;
        color: #61cae4; }
      .phone-verify ul li a.send {
        color: #fff;
        background: #61cae4;
        height: 0.8rem;
        line-height: 0.8rem;
        width: 2.1333333333rem;
        text-align: center; }
  .phone-verify p {
    font-size: 0.3466666667rem;
    padding: 0.1333333333rem 0.4rem;
    color: #999; }
  .phone-verify p.error {
    color: #ff8003; }
  .phone-verify a.button {
    display: block;
    margin: 2.6666666667rem 0.4rem 0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background: #61cae4;
    border-radius: 0.6666666667rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.48rem; }

.result-wait {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f2f2f2; }
  .result-wait .content {
    position: absolute;
    top: 40%;
    margin-top: -1.6666666667rem;
    height: 3.3333333333rem;
    width: 10rem;
    text-align: center; }
    .result-wait .content img {
      display: block;
      width: 2.8933333333rem;
      height: 2.32rem;
      margin: 0 auto 0.4rem; }
    .result-wait .content p {
      font-size: 0.3466666667rem;
      color: #333; }
    .result-wait .content h1 {
      font-size: 0.4266666667rem;
      color: #333; }
  .result-wait .wait img {
    width: 7.0266666667rem;
    height: 2.9866666667rem;
    margin: 0 auto 1.2266666667rem; }

.forget-password .tab {
  box-sizing: content-box;
  height: 0.9333333333rem;
  margin: 0.5333333333rem 0 0.5333333333rem 0.3333333333rem;
  line-height: 0.9333333333rem;
  text-align: center;
  border-radius: 0.1333333333rem; }
  .forget-password .tab li {
    float: left;
    width: 3.0666666667rem;
    height: 0.9333333333rem;
    font-size: 0.4266666667rem;
    border: 0.0266666667rem solid #61cae4;
    border-right: none;
    color: #61cae4;
    background: #fff; }
    .forget-password .tab li:first-child {
      border-top-left-radius: 0.1066666667rem;
      border-bottom-left-radius: 0.1066666667rem; }
    .forget-password .tab li:last-child {
      border-top-right-radius: 0.1333333333rem;
      border-bottom-right-radius: 0.1333333333rem;
      border-right: 0.0266666667rem solid #61cae4; }
  .forget-password .tab li.action {
    color: #fff;
    background: #61cae4; }

.forget-password .piece {
  padding: 0 0.4rem;
  background: #fff;
  margin-bottom: 0.2666666667rem; }
  .forget-password .piece button {
    padding: 0 0.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4266666667rem;
    color: #fff;
    background: #61cae4;
    border: none;
    border-radius: 0.4rem; }
    .forget-password .piece button a {
      text-decoration: none;
      color: #fff;
      font-size: 0.4266666667rem; }
  .forget-password .piece .head {
    height: 1.4666666667rem;
    line-height: 1.4666666667rem;
    font-size: 0.4266666667rem;
    border-bottom: 1px solid #e6e6e6; }
    .forget-password .piece .head h2 {
      float: left;
      color: #333; }
    .forget-password .piece .head button {
      float: right;
      margin-top: 0.3333333333rem; }
    .forget-password .piece .head i {
      font-style: normal;
      color: #61cae4;
      display: inline-block;
      margin-left: 0.1333333333rem; }
  .forget-password .piece .content {
    padding: 0.4rem 0; }
    .forget-password .piece .content p {
      font-size: 0.3733333333rem;
      color: #666;
      line-height: 1.6em; }
    .forget-password .piece .content a {
      text-decoration: none;
      color: #61cae4; }

.alipay-certification .tips {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.32rem;
  color: #999;
  padding-left: 0.4rem; }

.alipay-certification ul > li {
  box-sizing: content-box;
  height: 1.4666666667rem;
  line-height: 1.4666666667rem;
  font-size: 0.4266666667rem;
  color: #333;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 0.4rem; }
  .alipay-certification ul > li label {
    display: block;
    float: left; }
  .alipay-certification ul > li input {
    float: right;
    width: 6.8rem;
    height: 1.4666666667rem;
    border: none;
    color: #333;
    padding: 0; }
  .alipay-certification ul > li .user {
    color: #ff8003; }

.alipay-certification .code {
  padding-left: 0.4rem; }
  .alipay-certification .code input {
    float: left;
    width: 5.6rem; }
  .alipay-certification .code span {
    display: block;
    float: right;
    width: 3.0533333333rem;
    height: 1.24rem;
    margin-top: 0.1066666667rem; }
  .alipay-certification .code a {
    display: block;
    width: 2.0266666667rem;
    height: 0.7333333333rem;
    line-height: 0.7333333333rem;
    text-align: center;
    float: right;
    background: #61cae4;
    color: #fff;
    text-decoration: none;
    font-size: 0.3466666667rem;
    margin: 0.36rem 0.4666666667rem 0 0; }

.alipay-certification .tel {
  color: #999; }

.alipay-certification a.common-button {
  margin-top: 1.3333333333rem; }

.alipay-certification .result img {
  display: block;
  width: 3.4266666667rem;
  height: 3.0933333333rem;
  margin: 3.16rem auto 1.2rem; }

.alipay-certification .result p {
  text-align: center;
  font-size: 0.4266666667rem;
  color: #333;
  line-height: 1.6em; }
  .alipay-certification .result p a {
    text-decoration: none;
    color: #61cae4;
    font-size: 0.4266666667rem; }

.bank-card {
  padding-top: 0.4rem; }
  .bank-card ul li {
    background: #fff;
    height: 1.4666666667rem;
    line-height: 1.4666666667rem;
    padding: 0 0.4rem;
    font-size: 0.4rem;
    border-bottom: 1px solid #e6e6e6;
    color: #333; }
    .bank-card ul li label {
      display: block;
      float: left;
      font-weight: bold; }
    .bank-card ul li span {
      padding-left: 0.4rem;
      float: left;
      display: block;
      line-height: 1.4666666667rem; }
    .bank-card ul li:last-child {
      border-bottom: none; }
  .bank-card p {
    padding: 0.2666666667rem 0.4rem 0;
    font-size: 0.3466666667rem;
    color: #999;
    line-height: 1.6em; }
  .bank-card .common-button {
    border-radius: 0.2rem;
    margin-top: 1.3333333333rem; }

.extension .tips {
  height: 0.8rem;
  line-height: 0.8rem;
  padding-left: 0.4rem;
  font-size: 0.32rem;
  color: #999; }

.extension ul li select {
  background: none;
  border: none;
  font-size: 0.7333333333rem;
  vertical-align: sub;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0; }

.extension p {
  font-size: 0.3733333333rem;
  color: #999;
  padding: 0.2933333333rem 0.4rem 0.4rem; }
  .extension p i {
    font-style: normal;
    color: #ff8003; }
  .extension p a {
    display: block;
    float: right;
    text-decoration: none;
    color: #61cae4; }

.extension a.common-button {
  margin-top: 0.8666666667rem; }

.extension .reulst img {
  display: block;
  width: 3.4266666667rem;
  height: 3.0933333333rem;
  margin: 2.6666666667rem auto 0; }

.extension .reulst p {
  padding: 0.8rem;
  font-size: 0.3466666667rem;
  color: #333; }

.extension .error img {
  width: 4.4133333333rem;
  height: 2.64rem; }

.extension .info {
  padding: 0.4rem; }
  .extension .info p {
    padding: 0;
    font-size: 0.4266666667rem;
    line-height: 1.5em; }

.tied-card {
  font-size: 0.4rem; }
  .tied-card p.tips {
    height: 1.2rem;
    line-height: 1.2rem;
    padding-left: 0.4rem; }
  .tied-card ul {
    padding: 0 0.4rem; }
    .tied-card ul li {
      padding: 0;
      box-sizing: content-box; }
      .tied-card ul li label {
        width: 2.1333333333rem;
        padding-right: 0;
        font-weight: bold; }
      .tied-card ul li span {
        color: #333;
        font-size: 0.4rem; }
      .tied-card ul li select {
        background: none;
        border: none;
        vertical-align: baseline;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 0;
        width: 6.9333333333rem; }
      .tied-card ul li input {
        width: 7.0666666667rem;
        border: none;
        padding: 0;
        height: 1.4666666667rem;
        vertical-align: baseline; }
      .tied-card ul li:last-child {
        border-bottom: none; }
    .tied-card ul li.code input {
      width: 4.8666666667rem; }
    .tied-card ul li.code a {
      color: #61cae4;
      text-decoration: none;
      font-size: 0.4rem;
      text-align: right;
      border-left: 1px solid #e6e6e6;
      height: 0.9333333333rem;
      display: inline-block;
      line-height: 0.9333333333rem;
      padding-left: 0.4rem; }
  .tied-card p.error, .tied-card p.info {
    color: #ff8003;
    font-size: 0.3466666667rem;
    margin: 0.2666666667rem 0.4rem; }
  .tied-card .common-button {
    margin-top: 1.1333333333rem;
    border-radius: 0.2rem; }

.more .head p {
  padding-left: 0.4rem;
  font-size: 0.3466666667rem;
  height: 0.8rem;
  color: #999;
  line-height: 0.8rem; }

.more .head {
  background-color: #f2f2f2; }

.more li {
  border-bottom: 1px solid #e6e6e6;
  height: 1.4666666667rem;
  line-height: 1.4666666667rem; }

.more li label {
  padding-left: 0.4rem;
  font-size: 0.4266666667rem;
  color: #333333;
  position: absolute; }

.more li input {
  margin-left: 2.4666666667rem;
  height: 1.44rem;
  font-size: 0.4266666667rem;
  width: 6.1333333333rem;
  border: none;
  display: block; }

.more .footer a {
  display: block;
  border: 1px solid #61cae4;
  border-radius: 0.6666666667rem;
  background-color: #61cae4;
  color: white;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.48rem;
  margin: 0.8666666667rem 0.4rem 0; }

.pop-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.4); }

.pop-box .pop-con {
  box-sizing: border-box;
  position: relative;
  padding: 0.4rem;
  width: 84%;
  background-color: #fff;
  border-radius: 0.2rem;
  text-align: center; }

.pop-box .pop-con p {
  padding: 1rem 0;
  font-size: 0.4rem; }

.pop-box button {
  display: block;
  width: 100%;
  height: 1.04rem;
  background: #61cae4;
  color: #fff;
  border: none;
  border-radius: 0.12rem;
  font-size: 0.4rem; }

.message-center {
  line-height: 2em; }
  .message-center h5 {
    display: table-cell;
    text-align: center;
    font-size: 0.32rem;
    height: 1.2rem;
    width: 10rem;
    vertical-align: middle;
    color: #666; }
  .message-center h1 {
    padding: 0.4rem 0.4rem;
    font-size: 0.48rem;
    background: #fff;
    color: #666; }
  .message-center p {
    padding: 0 0.4rem 0.5333333333rem 0.4rem;
    font-size: 0.4rem;
    line-height: 0.7069333333rem;
    background: #fff;
    color: #999; }
  .message-center .content {
    background: #fff; }
  .message-center p.activity-p {
    margin-left: 0.4rem;
    padding: 0.4rem 0;
    border-bottom: 1px solid #c8c8c8; }
  .message-center a {
    display: block;
    font-size: 0.4266666667rem;
    color: #333; }
    .message-center a span {
      padding: 0.28rem 0.4rem;
      float: left; }
  .message-center .arrow {
    float: right;
    margin: 0.4666666667rem 0.4666666667rem 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    height: 0.32rem;
    width: 0.32rem; }
  .message-center img {
    display: block;
    width: 9.2rem;
    height: 3.3333333333rem;
    margin: 0 auto; }

.wx-login {
  padding: 0 0.4rem; }
  .wx-login img {
    display: block;
    width: 2.6666666667rem;
    height: 2.6666666667rem;
    margin: 1.3333333333rem auto; }
  .wx-login input {
    border: 1px solid #61cae4;
    border-radius: 0.1333333333rem;
    width: 100%;
    font-size: 0.4533333333rem;
    height: 0.96rem;
    margin-bottom: 0.5333333333rem;
    padding-left: 1.1466666667rem;
    background: url(../img/wx-phone.png) 0.4333333333rem 50% no-repeat;
    background-size: 0.28rem 0.5333333333rem; }
  .wx-login button {
    color: #fff;
    border: 0px;
    border-radius: 0.1333333333rem;
    font-size: 0.4rem;
    background: #61cae4;
    width: 100%;
    line-height: 0.96rem; }
  .wx-login .disabled {
    background: #999; }

.wx-password img {
  width: 2.1333333333rem;
  height: 2.1333333333rem;
  margin-bottom: 0; }

.wx-password h4 {
  font-size: 0.4rem;
  text-align: center;
  margin: 0.4533333333rem 0 0.5333333333rem 0; }

.wx-password input {
  background: url(../img/wx-icon02.png) 0.4333333333rem 50% no-repeat; }

.wx-result {
  background: #fff; }
  .wx-result .content img {
    width: 4.5066666667rem;
    height: 3.0933333333rem; }
  .wx-result a {
    text-decoration: none;
    color: #61cae4; }
