*{padding:0; margin:0;}
img{vertical-align:top;border:0;}
h3,h4{font-size:inherit; font-weight:normal;}
a {
  text-decoration: none;
}
/*公共类*/
.pa {
  position: absolute;
  top: 390px;
  left: 62px;
}
.br10 {
  border-radius: 10px;
}
.br25 {
  border-radius: 25px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fixed {
  position: fixed;
}
.downbt {
  display: block;
  border: 1px solid #fff;
  height: 50px;
  width: 162px;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-indent: 34px;
  cursor: pointer;
}
.downbt span {
  position: absolute;
  height: 24px;
  width: 20px;
  left: 34px;
  top: 13px;
}
.downbt span.icon-w {
  display: block;
}
.downbt span.icon-h {
  display: none;
}
.downbt:hover {
  border-color: #5e66ff;
  background-color: #fff;
  color: #5e66ff;
}
.downbt:hover span.icon-w {
  display: none;
}
.downbt:hover span.icon-h {
  display: block;
}

.title-dline {
  font-size: 40px;
  color: #333;
}
.title-dline::after {
  content: "";
  display: block;
  height: 3px;
  width: 144px;
  border-radius: 2px;
}

// container
.container {
  min-width: 1170px;
}

// serviceTel
.serviceTel {
  right: 0;
  top: 300px;
  z-index: 999;
}


// banner
.banner {
  background: url(../../image/xxd/banner.png) no-repeat top center;
  width: 100%;
  .banner-in {
    width: 1170px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    .android-down {
      margin-top: 80px;
      span.icon-w {
        background: url(../../image/xxd/banner_icon_android.png) no-repeat center;
      }
      span.icon-h {
        background: url(../../image/xxd/banner_icon_android_hover.png) no-repeat center;
      }
    }
    .ios-down {
      span.icon-w {
        background: url(../../image/xxd/banner_icon_ios.png) no-repeat center;
        background-size: 24px 24px;
      }
      span.icon-h {
        background: url(../../image/xxd/banner_icon_ios_hover.png) no-repeat center;
      }
    }
    .code {
      margin-left: 280px;
      margin-top: -40px;
    }
  }
}

// con1
.con-title {
  text-align: center;
  font-size: 40px;
  color: #333;
  &:after {
    content: "";
    display: block;
    height: 16px;
    width: 234px;
    background: url('../../image/xxd/zhixiangxin.png') no-repeat center;
    margin: 0 auto;
    margin-top: 12px;
  }
}
span {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.con1 {
  width: 100%;
  background-color: #fff;
  padding: 56px 0 80px;
  .con1-text {
    padding: 92px 105px 0;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    .icon {
      width: 120px;
      span {
        height: 120px;
        width: 120px;
      }
      p {
        font-size: 24px;
        text-align: center;
        padding-top: 42px;
        color: #666;
      }
      &:nth-child(1){
        span {
          background-image: url('../../image/xxd/icon-zhuce.png');
        }
      }
      &:nth-child(3){
        span {
          background-image: url('../../image/xxd/icon-wanshanziliao.png');
        }
      }
      &:nth-child(5){
        span {
          background-image: url('../../image/xxd/icon-wdurenz.png');
        }
      }
      &:nth-child(7){
        span {
          background-image: url('../../image/xxd/icon-jisurenzheng.png');
        }
      }
    }
    .arrow {
      width: 160px;
      span {
        width: 64px;
        height: 50px;
        margin: 34px auto 0;
        background-image: url('../../image/xxd/arrow.png');
      }
    }
  }
}
.con2 {
  background-color: #FFF7F6;
  width: 100%;
  padding: 50px 0 80px;
  .con2-text {
    padding: 100px 130px 0;
    overflow: hidden;
    width: 910px;
    margin: 0 auto;
    text-align: center;
    .point {
      width: 246px;
      height: 292px;
      background-color: #fff;
      &:nth-child(1){
        margin-right: 86px;
        span {
          background-image: url('../../image/xxd/zhouqi.png');
        }
      }
      &:nth-child(2){
        margin-right: 86px;
        span {
          background-image: url('../../image/xxd/linghuo.png');
        }
      }
      &:nth-child(3){
        span {
          background-image: url('../../image/xxd/fangkuankuai.png');
        }
      }
      span {
        width: 80px;
        height: 86px;
        margin: 34px auto 0;
      }
      h3 {
        padding-top: 50px;
        font-size: 30px;
        color: #333;
      }
      p {
        padding-top: 20px;
        font-size: 18px;
        color: #999;
      }
    }
  }
}

.con3 {
  padding-top: 60px;
  width: 1036px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 266px;
  .con3-in{
    height: 388px;
    .text {
      height: 146px;
      padding-top: 121px;
      h3 {
        font-size: 36px;
        color: #333;
      }
      p {
        &:nth-child(2) {
          font-size: 28px;
          color: #999;
        }
        &:last-child {
          font-size: 40px;
          color: #1ec8e1
        }
      }
    }
    .img {
      width: 435px;
      height: 388px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(1) {
      padding-left: 24px;
      .text {
        width: 344px;
        text-align: right;
      }
      .img {
        margin-left: 227px;
        background-image: url('../../image/xxd/pic-zhouqi.png');
      }
    }
    &:nth-child(2) {
      padding-left: 38px;
      padding-top: 270px;
      .img {
        background-image: url('../../image/xxd/pic-linghuo.png');
      }
      .text {
        margin-left: 220px;
        width: 316px;
      }
    }
    &:nth-child(3) {
      padding-top: 370px;
      .text {
        text-align: right;
        width: 372px;
      }
      .img {
        margin-left: 228px;
        background-image: url('../../image/xxd/pic-fangkuankuai.png');
      }
    }
  }
}

.footer {
  background-color: #454545;
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  color: #fff;
}
