#download_app_wraper{width:100%;}
#download_app_wraper .top{padding:1em 0;background:#1782e0;}
#download_app_wraper .top img{width:10%;}
#download_app_wraper ._body{margin-top:1.5em;background-color: #FFFFFF;}
#download_app_wraper ._btn{margin-top:3em;margin-bottom:3em;padding:1em 0;width:83%;}
.container {margin: 0 auto;width: 100%;height: 100%;background: #FFFFFF !important;}