@charset "UTF-8";
@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
@function rem($px){
    @return $px / 75px * 1rem;
}
// 公用样式
html,body,.container{
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}
._radiu_16px{
    border-radius: rem(16px);
}
._radiu_45px{
    border-radius: rem(45px);
}
.clear{
    *zoom:1;
} 
.clear:after{
    content:"."; 
    display:block; 
    height:0; 
    overflow:hidden; 
    clear:both; 
    visibility:hidden;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
 
// 落地页样式
#stream{
    width: 100%;
    min-height: 100%;
    color: #fff;
    position: relative;
    // background: url('../image/bannerBg.png') no-repeat center;
    /* input placeholder文字颜色 */
    input::-webkit-input-placeholder { /* WebKit browsers */
        color: rgba(255,243,193,0.6);
    }
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: rgba(255,243,193,0.6);
    }
    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: rgba(255,243,193,0.6);
    }
    input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: rgba(255,243,193,0.6);
    }
    .con{
        width: 100%;
        position: absolute;
        top: rem(676px);
        // 轮播样式
        #rollshowbox{
            width: rem(690px);
            height: rem(224px);
            background-color: #ff9568;
            margin: 0 auto;
            overflow: hidden;
            #rollshow{
                overflow: hidden;
                padding-left: rem(48px);
                padding-top: rem(12px);
                position: relative;
                ul li{
                    padding: rem(17px) 0;
                    @include font-dpr(14px); 
                    overflow: hidden;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    height: rem(36px);
                }
            }
            .rollline{
                width: rem(10px);
                height: rem(147px);
                position: absolute;
                left: rem(48px);
                top: rem(42px);
                height: 0.533333rem
                }
        }
        
        // form表单样式
        .input-form{ 
            padding-top: rem(50px);
            input{
                display: block;
                width: rem(690px);
                margin: 0 auto;
                margin-bottom: rem(40px);
                padding-left: rem(100px);
                color: #fff3c1;
                @include font-dpr(15px); 
                height: rem(90px);
                line-height: rem(90px);
                box-sizing: border-box; 
                background-color: transparent;  
                border: 2px solid #fff3c1;             
            }
            .btn{
                width: rem(690px);
                height: rem(90px);
                line-height: rem(90px);
                background: #fff3c1;
                text-align: center;
                margin: 0 auto;
                color: #ff6457;
                @include font-dpr(18px); 
            }
            .user-input{
                position: relative;
                .iconUser{
                    position: absolute;
                    left: rem(65px);
                    top: rem(21px);
                    background: url('../image/iconUser.png') no-repeat center;
                    background-size: rem(45px) rem(43px);  
                    width: rem(48px);
                    height: rem(45px);                   
                }
            }
            .code-input{
                width: rem(690px);
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                .iconMsg{
                    position: absolute;
                    left: rem(40px);
                    top: rem(21px);
                    background: url('../image/iconMsg.png') no-repeat center;
                    background-size: rem(35px) rem(45px); 
                    width: rem(35px);
                    height: rem(52px);                   
                }
                ._input_sp{
                    width: rem(400px);
                    float: left;
                }
                .get_code{
                    width: rem(190px);
                    float: right;
                    @include font-dpr(15px); 
                    color: #ff6457;
                }
            }
            .pwd-input{
                position: relative;
                .iconPwd{
                    position: absolute;
                    left: rem(65px);
                    top: rem(21px);
                    background: url('../image/iconPwd.png') no-repeat center;
                    background-size: rem(45px) rem(45px); 
                    width: rem(48px);
                    height: rem(48px);                   
                }
            }
            .submit{
                margin: rem(70px) auto rem(24px) auto;
            }
            .checktext{
                width: rem(690px);
                margin: 0 auto;
                margin-bottom: rem(40px);
                @include font-dpr(12px);
                font-weight: bold;
                color: #fff;    
                line-height: rem(32px);
                .ture{
                    display: inline-block;
                    padding-right: rem(12px);
                    padding-bottom: rem(4px);
                    width: rem(30px);
                    height: rem(30px);
                    vertical-align: middle;
                }
                .agreement{
                    color: #fff3c1;
                }
            }
        }
        
        // 尾部
        .p_footer{
            padding-bottom: rem(26px);
            text-align: center;
            color: rgba(255,255,255,0.8);
            @include font-dpr(11px);
        }
    }
    
}